@import 'pills.css'; 

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1.2rem 1.2rem 0.5rem 1.2rem;
    background-color: white;
}

.logo-header{
    flex-shrink: 0; /* Logo à gauche */
}

.logo img {
    height: 4rem;
    width: auto;
}

.nav-header {
    flex: 1; /* prend l'espace disponible */
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.6rem;
}

/* -------- N A V   N A V -------- */
.nav-nav-header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 3rem;
}

.nav-nav-header a {
    color: #000;
    font-weight: 800;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: lowercase;
}

