.nav-pill {
    margin-left: auto; /* pousse à droite pour footer */
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-end;
}
.nav-page-pill {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
}

.pill-group {
    display: flex;
}

.pill {
    width: 9.5rem;
    text-align: end; 
    height: 1.6rem;
    padding: 0.35rem 1rem;
    border-radius: 0.55rem;
    border: 0.01rem solid #000000;
    background: #FFFFFF;
    color: black;
    font-size: 0.63rem;
    font-weight: 500;
    letter-spacing: 0.015rem;
    text-decoration: none;
    transition:  all 0.3s;
}
.pill-straight{
    width: auto;
    text-align: none;
    padding: 0.35rem 0.45rem;
    font-size: 0.6rem; 
    font-weight: 200;
}

/*.pill:hover {
     background: #1DFF83; */
    /* width: 9.36rem; */
    /* font-weight: 900;
    box-shadow: 0 0 0 0.07rem black; border inside  
}*/
.pill:hover {
    background: hsla(147, 100%, 56%, 0.239);
    border-color: #1dff833d; /* #1dff8374; */
    box-shadow: none;
}

.pill-black {
    background: black;
    color: white;
    font-weight: 700;
}
.pill-black:hover {
    background: #00ff9d;
    font-weight: 900;
    border-color: #00ff9d;
    box-shadow: none;
}
.pill-vert {
    background: #00ff9d;
}

/* --- C O L O R S --- */
/* vert fluo 1DFF83 remplacé par 00ff9d */

.bgv {background-color: #00ff9d; }
.bgvm {background-color: #1fff849f;}
.bgvc {background-color: #B5FFD7;}
.bgvf {background-color: #0B4023;}
.bgvff {background-color: #0B2416;}
.bgro {background-color: #ffd7c745;}
.bgrose {background-color: #FFD8C8;}
.bgpink {background-color: #FA04D9;}
.bgm {background-color: #AE6D05;}
.bgsaf {background-color: #B79331;}
.bgmc {background-color: #b5923062;}
.bgblue {background-color: #3C07FB;}
.bgb {background-color: #B8C1FF;}
.bgbc {background-color: #b8c1ff45;}
.bgbd {background-color: #A91E1E;}
.bgbdf {background-color: #761925;}
.bgj {background-color: #f7ff00;}


/* -------- P I L L    S E A R C H -------- */
.search-form {
    display: contents; /* disparaît visuellement */
    
}

.pill-search-input::placeholder {
    color: black;
} 

.pill-search-input:hover {
    width: 19rem;
    background-color: white;
    border-color: black;
} 

/* input "rechercher" allongé avec texte de la recherche à Gche 
TANT qu'on est sur p. résultat de recherche*/
.pill-search-input:focus {
    width: 19rem !important;
    text-align: left !important; /* texte se décale à gauche quand grand */
    font-weight: 300;
}

/* pour que le placeholder "rechercher" disparaisse au FOCUS */
.pill-search-input:focus::placeholder {
    color: transparent !important;
    opacity: 0 !important;
}

/* pour que le placeholder "rechercher" disparaisse sur TOUS les navigateurs au FOCUS */
.pill-search-input:focus::-webkit-input-placeholder { 
    color: transparent !important; 
}

.pill-search-input:focus::-moz-placeholder { 
    color: transparent !important; 
}

input[type="search"]:focus,
.pill-search-input:focus,
input.pill:focus {
    outline: none !important;
    box-shadow: none !important;
    outline: 2px solid #000000 
}

/* -------- P A G E  résultat  search/index.html.twig -------- */
/* TOUJOURS allongé sur page recherche */
body:has(.search-results) .pill-search-input,
.search-results-page .pill-search-input,
[route="app_recherche"] .pill-search-input {
    width: 19rem !important;
    text-align: left !important;
}

.search-results { /* liste des résultats */
    max-width: 800px;
    margin: 2rem auto;
    color: black;
}

.search-result { /* 1 résultat */
    display: block;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: black;
}
/* 
.search-result:hover {
    background: #f81ae2;
} */