*{
    /* border: 1px dotted blue;  */
}

.section-nav-recette {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}
.nav-recette {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* text-align: start; */
    align-items: center;
    margin-right: 7rem;
    /* border: 1px solid rgb(255, 89, 0);  */
}
/* .nav-recette div :nth-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */

.section-recette {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.recette {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 2rem;
}
.recette-titre {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.recette-titre-titre {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 2rem;
}
.recette-titre p, .recette-titre-titre p{
    font-size: 0.58rem;
}
.recette-texte {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    text-align: start;
    padding: 0!important;
    /* border: 1px solid rgb(255, 89, 0); */
}
.recette-photo {
    width: 100rem;
    height: 10rem;
    overflow: hidden;
    background-color: aquamarine;
}
.recette-photo img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.recette-pagination {
    text-align: center;
}
