*{
    /* border: 1px dotted blue;  */
}
.modal-box {
    padding: 0 2.5rem 2rem 2.5rem !important; 
}
/* .login-tooltip::after {
    content: "ConCSSRECETTEnecte-toi pour ajouter une recette";
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background: #c33;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
} 

.login-tooltip:hover::after {
    opacity: 1;
}
*/
.error-pill {
    position: relative;
}

.error-pill span {
    color: #3C07FB;
    font-size: 0.55rem;
    font-weight: 700;
    margin-left: 0.3rem;
}

.error-clickable {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding:0;
    cursor: pointer;
    transition: all 0.2s;
}

.error-tooltip {
    position: relative;
}

pill {
    width: 9.5rem;
    text-align: end; 
    height: 1.6rem;
    padding: 0.35rem 1rem;
    border-radius: 0.55rem;
    border: 0.01rem solid #000000;
    background: #FFFFFF;
    color: black;
    font-size: 0.63rem;
    font-weight: 500;
    letter-spacing: 0.015rem;
    text-decoration: none;
    transition:  all 0.3s;
}
.error-tooltip-text {
    visibility: hidden;
    position: absolute;
    top: -20px;
    height: 1.65rem;
    /* left: 50%; */
    transform: translateX(-45%);
    background: #3C07FB!important;
    color: white;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    border-radius: 2.5rem;
    border: 0.15rem solid black;
    box-shadow: 0 0.8rem 0 black;
    border-radius: 0.55rem;
    font-size: 0.7rem;
    font-weight: 700;
    white-space: nowrap;
    z-index: 10;
}

.error-tooltip:hover .error-tooltip-text {
    visibility: visible;
}

.error-text {
    color: #3C07FB;
    font-size: 0.7rem;
    font-weight: 700;
}

.error-clickable:hover .error-text {
    color: black;
}

.section-nav-recette {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: end;
}

.nav-recette {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 7rem;
}

.section-recette {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.recette {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1.2rem;
}

.recette-titre {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.recette-titre-titre {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1rem;
}
.recette-titre-titre p {
    padding-bottom: 0.2rem;
}

.recette-titre p, .recette-titre-titre p{
    font-size: 0.58rem;
}

span {
    background-color: white!important;
    border-color: black!important;
}

.recette-texte {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0 1.5rem!important;
    text-align: start;
    padding: 0!important;
}

.ingredients p {
    margin-bottom: 0.45rem;
    font-weight: 700;
}   

.ingredients-colonnes {
    font-weight: 200 !important;
    padding: 0;
    list-style: none;
    /* margin-bottom: 23rem;  */
    line-height: 1.1;
    white-space: pre-wrap;  /* Garde les retours à la ligne */
}

.recette-photo {
    width: 100%; 
    height: auto; 
    overflow: hidden;
}

.recette-photo img { 
    width: 100%; 
    height: 12rem; 
    object-fit: cover; 
}

.recette-pagination {
    text-align: end;
    padding-bottom: 1.5rem;
}
.recette-pagination .pill:hover{
    background-color: white;
    border-color: black;
    outline: 2px solid black
}
